.ulNav {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.intro {
    background-color: rgb(30, 35, 35);
    color: white;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.redesSociais {
    display: flex;
    justify-content: space-between;
    max-width: 200px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.redesSociais img {
    margin-left: -5px;
    max-width: 50px;
    padding: 5px;
}

.flexFooter {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
    padding-top: 15px;
    background-color: rgb(30, 35, 35);
}

.flexFooter h3{
    color: tomato;
}

.flexFooter p, img{
    padding: 5px;
    margin-top: 10px;
    display: inline-block;
    color: whitesmoke;
}

.flexFooter div {
    flex: 1 1 200px;
    margin: 10px;

}

.footerImg {
    max-width: 64px;
}

.txtFooter {
    font-size: 0.8em;
    max-width: 150px;
}

.about {
    margin: 0 auto;
    align-items: center;
    max-width: 800px;
    padding-left: 10%;
    padding-right: 10%;

}

.about h2 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 20%);
}

.about p {
    font-family: lindim;
    text-indent: 2em;
    text-align: justify;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 20%);
}

.mainProjetos {
    background-color: tomato;
    min-height: 100vh;
}

.projetoFlex {
    display: flex;
    flex-wrap: wrap;
}

.projetoFlex div{
    max-width: 600px;
    flex: 1 1 600px;
    margin: 30px auto;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

@media (max-width: 900px){
    .projetoFlex div{
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.projetoFlex h2{
    padding-top: 0px;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
}
.projetoFlex p{
    text-indent: 1em;
    text-align: justify;
    padding: 0em 1em 0em 1em;
}

.projetoFlex img{
    display: flex;
    max-width: 200px;
    border-radius: 20px;
    margin: auto;
}