header {
    padding-top: 20px;
    background-color: rgb(30, 35, 35);
    color: whitesmoke;
}

main {
    
}

header p {
    margin-top: 5px;
    font-size: 0.8em;
}

h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3em;
    margin: 0px;
    text-align: center;
}

h2 {
    font-family: Zen Maru Gothic, Helvetica, sans-serif;
    font-size: 2em;
    margin: 0px;
    padding-top: 150px;
}

h3 {
    color: white;
}

a {
    color: white;
    text-decoration: none;
}



header a:hover{
    font-size: 120%;
    text-decoration: underline rebeccapurple;
    transition: 0.5s;
}